iometer-flower {
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;
	--angle: 0rad;
	touch-action: none;
}

iometer-flower .shadow {
	filter: drop-shadow(rgba(34, 67, 108, .6) 2px 3px 8px);
	position: absolute;
	top:  0;
	left: 0;
	width:  100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

iometer-flower [data-metric] {
	position: absolute;
	width:  var(--size);
	height: var(--size);
	background: conic-gradient(from var(--angle), hsl(var(--metric-color),50%,0), hsl(var(--metric-color),50%,1));
}
iometer-flower [data-metric]:not(.enabled) {
	display: none;
}

iometer-flower .overlays {
	position: absolute;
	top:    0;
	left:   0;
	width:  100%;
	height: 100%;
}

iometer-flower .top-circle {
	position: absolute;
	--radius: calc(var(--size) * .16);
	left: calc(50% - var(--radius));
	top:  calc(50% - var(--radius));
	width:  calc(var(--radius) * 2);
	height: calc(var(--radius) * 2);

	background: #93caf488;
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	box-shadow: 0 0 16px rgba(0, 0, 0, .3);

	border-radius: 50%;
	border: 1px solid #c4dff4;

	color: #033aaf;
	font-size: calc(var(--size) * .07);
	font-family: sans-serif;
	font-weight: bold;

	display: flex;
	justify-content: center;
	align-items: center;
}

iometer-flower .overlays .outer-ring {
	fill: none;
	stroke-width: .08;
	stroke: #eaf3ff;
}
iometer-flower .overlays .outer-ring-markers circle {
	fill: #71acfb;
	stroke: none;
}
iometer-flower .overlays .outer-ring-markers text {
	font: bold .08px sans-serif;
	fill: #1c428a;
	text-anchor: middle;
	dominant-baseline: central
}

iometer-flower .overlays .low-mark,
iometer-flower .overlays .mid-mark,
iometer-flower .overlays .high-mark {
	fill: none;
	stroke: #d9e6ff;
	vector-effect: non-scaling-stroke;
}

iometer-flower .overlays .now-marker {
	fill: #0b44be;
}
