iometer-linegraph {
	display: flex;
	flex-direction: column;
	position: relative;
	cursor: grab;
	touch-action: none;
	overflow: hidden;
}

iometer-linegraph .graph-area {
	flex-grow: 1;
	position: relative;
}

iometer-linegraph .shadow {
	filter: drop-shadow(rgba(34, 67, 108, .6) 2px 3px 8px);
	position: absolute;
	left: 0;
	top:  0;
	width:  100%;
	height: 100%;
}

iometer-linegraph [data-metric] {
	position: absolute;
	left: 0;
	top:  0;
	width:  100%;
	height: 100%;
	background: linear-gradient(
		hsl(var(--metric-color), 58%),
		hsl(var(--metric-color), 40%)
	);
}
iometer-linegraph [data-metric]:not(.enabled) {
	display: none;
}

iometer-linegraph .now-label {
	align-self: center;
	display: flex;
	align-items: end;
	justify-content: center;
	background: #1850c7;
	border-radius: 8px;
	color: white;
	font: 18px sans-serif;
	padding: 8px 20px;
	box-sizing: border-box;
	height: 45px;
	min-width: 140px;
	margin-bottom: 5px;
}
iometer-linegraph .now-label strong {
	font-size: 20px;
	font-weight: bold;
}

iometer-linegraph .time-labels span {
	position: absolute;
	bottom: 4px;
	height: 25px;
	width: 50px;
	margin-left: -25px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 6px;
	background: rgba(255, 255, 255, .5);
	color: white;
	font-size: 12px;
	font-weight: bold;
	font-family: sans-serif;
}

iometer-linegraph svg {
	position: absolute;
	left: 0;
	top:  0;
	width:  100%;
	height: 100%;
}

iometer-linegraph svg .graph-cutout {
	pointer-events: none;
}

iometer-linegraph svg .marks line {
	stroke: #cbdbfe;
	stroke-width: 1px;
	vector-effect: non-scaling-stroke;
}

iometer-linegraph svg .selection-line {
	stroke: #1850c7;
	stroke-width: 3px;
	vector-effect: non-scaling-stroke;
	stroke-linecap: round;
}
