html {
	height: 100%;
}
body {
	height: 100%;
	max-width: 60vh;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	overscroll-behavior: none; /* Prevent pull-to-refresh on Chrome mobile */
	font-family: sans-serif;
}

#top-bar {
	height: 40px;
	flex-shrink: 0;
	margin: 12px 30px;
	display: flex;
}
#top-bar > * {
	width: 40px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 70%;
	cursor: pointer;
}
#top-bar button {
	border: none;
	background-color: transparent;
	background-size: 80%;
}
#top-bar .menu {
	margin-right: auto;
	background-image: url('data:image/svg+xml,<svg viewBox="0 0 1 1" xmlns="http://www.w3.org/2000/svg">\
		<path stroke="%231f72db" stroke-width="0.15" stroke-linecap="round" d="M0.1,0.2 H0.9 M0.1,0.5 H0.9 M0.1,0.8 H0.9"/>\
	</svg>');
}

#top-bar .install.hidden {
	display: none;
}
#top-bar .install {
	background-image: url('data:image/svg+xml,\
		<svg viewBox="0 0 1 1" xmlns="http://www.w3.org/2000/svg">\
			<g fill="none" stroke="%231f72db" stroke-linecap="round">\
				<ellipse cx=".5" cy=".38" rx=".3" ry=".3" stroke-width=".056"/>\
				<path d="m0.5 0.19v0.38" stroke-width=".062"/>\
				<path d="m0.31 0.37 0.38 2e-4" stroke-width=".062"/>\
			</g>\
			<g fill="%231f72db">\
				<path d="m0.1 0.97h-0.077v-0.02l0.021-0.0095v-0.11l-0.021-0.0095v-0.02h0.077v0.02l-0.021 0.0095v0.11l0.021 0.0095z"/>\
				<path d="m0.28 0.97h-0.046l-0.074-0.13h-9.5e-4c0.0026 0.043 0.0021 0.084 0.0021 0.13h-0.032v-0.17h0.045l0.074 0.13h7.1e-4s-0.0017-0.084-0.0017-0.13h0.032z"/>\
				<path d="m0.42 0.92c0.0018 0.033-0.033 0.052-0.063 0.049-0.016-7.5e-4 -0.037-0.0018-0.048-0.012v-0.032c0.021 0.0086 0.047 0.021 0.07 9e-3 0.012-0.011 0.0025-0.028-0.01-0.032-0.025-0.012-0.059-0.026-0.057-0.059-0.0023-0.034 0.035-0.052 0.064-0.048 0.015 0.0011 0.032 0.0053 0.044 0.012-0.0038 0.0091-0.0076 0.018-0.011 0.027-0.018-0.0066-0.046-0.019-0.06 2.4e-4 -0.0073 0.02 0.018 0.027 0.031 0.034 0.021 0.0091 0.043 0.025 0.041 0.051z"/>\
				<path d="m0.52 0.97h-0.036v-0.14h-0.046v-0.03h0.13v0.03h-0.046z"/>\
				<path d="m0.68 0.97-0.012-0.04h-0.062l-0.012 0.04h-0.039l0.06-0.17h0.044l0.06 0.17zm-0.043-0.14s-0.014 0.048-0.022 0.073h0.044c-0.0079-0.025-0.022-0.073-0.022-0.073z"/>\
				<path d="m0.74 0.97v-0.17h0.036v0.14h0.069v0.03z"/>\
				<path d="m0.87 0.97v-0.17h0.036v0.14h0.069v0.03z"/>\
			</g>\
		</svg>\
	');
}

#date-selector {
	height: 50px;
	flex-shrink: 0;
	background: #eaf3ff;
	border-radius: 10px;
	margin: 8px 16px;
}

[data-metric='consumption']        { --metric-color: 212, 74%; --metric-luminance: 50%; }
[data-metric='stateOfCharge']      { --metric-color: 197, 90%; --metric-luminance: 50%; }
[data-metric='batteryCharging']    { --metric-color: 197, 71%; --metric-luminance: 38%; }
[data-metric='batteryDischarging'] { --metric-color:  17, 80%; --metric-luminance: 44%; }
[data-metric='gridFeedin']         { --metric-color: 287, 61%; --metric-luminance: 51%; }
[data-metric='gridPurchase']       { --metric-color: 302, 31%; --metric-luminance: 42%; }
[data-metric='solarTracker1']      { --metric-color: 212, 77%; --metric-luminance: 43%; }
[data-metric='solarTracker2']      { --metric-color: 287, 83%; --metric-luminance: 35%; }
[data-metric='solarProduction']    { --metric-color:  31, 36%; --metric-luminance: 54%; }

body > iometer-flower {
	margin: 16px 35px;
	flex-grow: 3;
}

body > iometer-linegraph {
	flex-grow: 1;
}
