#metric-selector {
	flex-shrink: 0;
	padding-left: 16px;
	padding-top: 8px;
	padding-bottom: 8px;
	display: flex;
	overflow-x: auto;
	overflow-y: hidden;
	scrollbar-width: none;
}
#metric-selector::-webkit-scrollbar {
	width: 0;  /* Remove scrollbar space */
	background: transparent;  /* Optional: just make scrollbar invisible */
}

#metric-selector::after {
	content: '';
	width: 1px;
	flex-shrink: 0;
}
#metric-selector [data-metric]:last-of-type {
	margin-right: 16px;
}

#metric-selector [data-metric] {
	width: 185px;
	margin-right: 20px;
	box-sizing: border-box;
	flex-shrink: 0;

	border-radius: 10px;
	box-shadow: 3px 3px 8px #1757a24f;

	padding: 8px 16px;
	padding-top: 40px;
	position: relative;

	color: white;
	font-weight: bold;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;

	cursor: pointer;
	user-select: none;
	-webkit-user-select: none;
	-webkit-tap-highlight-color: transparent;
}
#metric-selector [data-metric]::before {
	content: '';
	width:  24px;
	height: 24px;
	border-radius: 50%;
	background-size: 75%;
	background-position: center;
	background-repeat: no-repeat;
	position: absolute;
	top:  10px;
	left: 16px;
}

#metric-selector [data-metric].enabled::before {
	background-color: rgba(255, 255, 255, .3);
}
#metric-selector [data-metric]:not(.enabled)::before {
	background-color: hsl(var(--metric-color), 52%);
}

#metric-selector [data-metric].enabled {
	background: linear-gradient(
		hsl(var(--metric-color), var(--metric-luminance)),
		hsl(var(--metric-color), calc(var(--metric-luminance) - 12%))
	);
}
#metric-selector [data-metric]:not(.enabled) {
	color: hsl(var(--metric-color), 50%);
	border: 2px solid hsl(var(--metric-color), 50%);
}

#metric-selector [data-metric='stateOfCharge']::before,
#metric-selector [data-metric='consumption']::before {
	background-image: url('data:image/svg+xml,\
		<svg viewBox="0 0 95 97" xmlns="http://www.w3.org/2000/svg">\
			<path d="m76 36-34 60v-34h-23l34-59v33z" fill="white"/>\
		</svg>\
	');
}
#metric-selector [data-metric='gridFeedin']::before,
#metric-selector [data-metric='gridPurchase']::before {
	background-image: url('data:image/svg+xml,\
		<svg viewBox="0 0 1 1" xmlns="http://www.w3.org/2000/svg">\
			<path d="m0.077 0.35h0.87v0.25c0 0.21-0.17 0.38-0.38 0.38h-0.1c-0.21 0-0.38-0.17-0.38-0.38z" fill="white" stroke-width=".07"/>\
			<path d="m0.31 0.43v-0.35z M0.69 0.43v-0.35" stroke="white" stroke-width=".11" stroke-linecap="round" stroke-linejoin="round"/>\
		</svg>\
	');
	background-size: 60%;
}

#metric-selector [data-metric='solarProduction']::before,
#metric-selector [data-metric='solarTracker1']::before,
#metric-selector [data-metric='solarTracker2']::before {
	background-image: url('data:image/svg+xml,\
		<svg viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">\
		<path fill="white" d="m259 23-30 78h56l-26-78zm-166 66 34 76 40-40-73-37zm329 2.8-73 37 40 40 34-77zm-165 47c-67 0-121 54-121 121s54 121 121 121c67 0 121-54 121-121 0-67-54-121-121-121zm-156 93-78 26 78 30v-56zm311 0v56l78-30-78-26zm-25 114-40 40 77 34-37-73zm-257 2.8-37 73 76-34-40-40zm100 63 30 78 26-78h-56z"/>\
		</svg>\
	');
	background-size: 90%;
}

#metric-selector [data-metric='batteryCharging']::before,
#metric-selector [data-metric='batteryDischarging']::before {
	background-image: url('data:image/svg+xml,\
		<svg viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">\
			<path fill="white" d="m1.8 3.6c-0.97 0-1.8 0.8-1.8 1.8v5.4c0 0.97 0.8 1.8 1.8 1.8h10c0.97 0 1.8-0.8 1.8-1.8v-0.46h1.1c0.61 0 1.1-0.5 1.1-1.1v-2.2c0-0.61-0.5-1.1-1.1-1.1h-1.1v-0.46c0-0.97-0.8-1.8-1.8-1.8zm0 1.1h10c0.37 0 0.65 0.29 0.65 0.65v5.4c0 0.37-0.29 0.65-0.65 0.65h-10c-0.37 0-0.65-0.29-0.65-0.65v-5.4c0-0.37 0.29-0.65 0.65-0.65zm5.1 1.1-4.4 2.2h3.3l1.1 2.2 4.4-2.2h-3.3zm6.9 1.1h1.1v2.2h-1.1z"/>\
	</svg>\
	');
}

<svg viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
	<path d="M 1.5878906 4 C 0.7173351 4 1.4802974e-16 4.7173351 0 5.5878906 L 0 10.412109 C 0 11.282665 0.71733509 12 1.5878906 12 L 12.412109 12 C 13.282665 12 14 11.282665 14 10.412109 L 14 10 L 15 10 C 15.546531 10 16 9.5465314 16 9 L 16 7 C 16 6.4534686 15.546531 6 15 6 L 14 6 L 14 5.5878906 C 14 4.7173351 13.282665 4 12.412109 4 L 1.5878906 4 z M 1.5878906 5 L 12.412109 5 C 12.741554 5 13 5.2584462 13 5.5878906 L 13 10.412109 C 13 10.741554 12.741554 11 12.412109 11 L 1.5878906 11 C 1.2584462 11 1 10.741554 1 10.412109 L 1 5.5878906 C 1 5.2584462 1.2584462 5 1.5878906 5 z M 7 6 L 3 8 L 6 8 L 7 10 L 11 8 L 8 8 L 7 6 z M 14 7 L 15 7 L 15 9 L 14 9 L 14 7 z"/>
</svg>
